DOCKER_IMAGE=arbobzodashamsiddin/webapi:latest
ASPNETCORE_ENVIRONMENT=Production
APPLY_MIGRATIONS_ON_STARTUP=true
ENABLE_SWAGGER=true
POSTGRES_DB=minilibrary
POSTGRES_USER=postgres
POSTGRES_PASSWORD=strong-password
POSTGRES_PORT=5401
CONNECTION_STRING=Host=db;Port=5432;Database=minilibrary;Username=postgres;Password=strong-password
JWT_KEY=replace-with-a-long-random-secret-key
